/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */
header {
  text-align: center;
  padding: 300px;
  color: white;
  background-image: url(../images/apple-pie.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 900px;
  width: initial;
}

body {
  text-align: center;
 
}

#h1header {
  text-align: center;
  font-size: 100px;
  padding: 100px;
}

h1 {
  font-style: normal;
  text-align: left;
  padding: 20px;
}

h2 {
  padding: 50px;

}

ul {
  font-family: "Helvetica", sans-serif;
  font-size: large;
  text-align: left;
  text-justify: initial;
  padding:  15px;
}

ol {
  font-family: "Helvetica", sans-serif;
  font-size: large;
  text-align: left;
  text-justify: initial;
  padding:  15px;
}

.Ingredients {
  text-align: center;
  padding: 20px;
}

.Ingredients {
  text-align: center;
  padding: 20px;
  margin: 20px;
}

